
/* 
Fonts: rem
Padding/margin: rem or %
Width/height of containers: % or vw/vh
Absolute small things (borders/icons): px 
*/

.Dashboard {
    background-color: black;
    min-height: 100vh;
    /* max-width: 100vh; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
}

.DbHeading1 {
    font-weight: 700;
    font-size: 4vh;
    padding-top: 1vh;
    padding-left: 1vh;
}

/* --------RIGHT SIDE (DASHBOARD)-------- */
.dbRightSide{
    background-color: #ffffff;
    width: 100%;
    border-radius: 5vh;
    margin: 20px;
    /* padding: 25px 0 0 35px; */
    display: flex;
}

.Welcomebox{
    background-color: #C69B56;
    border-radius: 3vh;
    margin-top: 2rem;
    min-width: 50vh;
    min-height: 10vh;
    padding: 2rem;
    color: white;
    font-size: 1.3rem;

}

.rightsideleftbox{
    /* background-color: aqua; */
    padding: 3rem;
}

.rightsiderightbox{
    background-color: #F7F0E6;
    min-width: 100vh;
}



/* --------LEFT SIDE (DASHBOARD)-------- */

.dbLeftSide{
    /* background-color: rgb(228, 43, 43); */
    min-width: 25vh;
    padding: 3rem;
}

.lefttop{
    /* background-color: rgb(34, 119, 91); */
    min-height: 70%;
    margin-top: 4rem;
}

.leftbottom{
    /* background-color: #C69B56; */
    display: flex;
    justify-content: center;
}

.logoutbtn{
    background-color: #393A3C;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 700; 
    transition: all 0.3s ease;
}

.logoutbtn:hover{
    cursor: pointer;
    background-color: #C69B56;
    font-size: 1.1rem;
}

.logoutbtn:active{
    background-color: #9b8666;
    font-size: 1rem;
}


.dbLeftSide ul {
    font-weight: 600;
    width: 100%;

}

.dbLeftSide ul li { 
    list-style: none;
    margin-top: 1.5rem;
}

.dbLeftSide ul li a{
    color: white;
    text-decoration: none;
}


